/* Box Model Hack */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Global button reset  */
button {
    appearance: none;          
    -webkit-appearance: none;  
    -moz-appearance: none;     

    border: none;              
    padding: 0;                
    margin: 0;                 

    background: none;          
    font: inherit;             
    color: inherit;            
    line-height: inherit;      

    text-align: inherit;       
    cursor: pointer;           
}

/******************************************
/* TYPOGRAPHY 
/*******************************************/

* {
    font-family: 'Roboto';

}

h1 {
    font-size: 5.7rem;
}




/******************************************
/* LAYOUT
/*******************************************/

body {
    background-image: url('sunny-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 40px;
    position: relative;
}

main form {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 300px;
    background: rgba(226, 226, 226, 0.304);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.39);

}

.weather-details-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 40px;
    background: rgba(226, 226, 226, 0.304);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    padding: 20px 40px;
    color: rgb(55, 55, 55);
    
}

#current-location-time-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#current-forecast-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}


.weather-details-wrapper img {
    width: 32px;
}

#logo {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(226, 226, 226, 0.304);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.39);
}

a {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('github-logo.png');
    background-size: contain;
}

aside {
    height: 100vh;
    width: 500px;
    position: fixed;
    top: 0;
    right: -500px;
    background: rgba(241, 241, 241, 0.576);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    z-index: 1;
    padding: 25px;
    color: rgb(55, 55, 55);
    transition: 0.5s ease;
    
}


aside.active {
    height: 100vh;
    width: 500px;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(241, 241, 241, 0.576);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    z-index: 1;
    padding: 25px;
    color: rgb(55, 55, 55);
    
}




aside .fa-chevrons-left {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -40px;
    top: 70px;
    z-index: 2;
    background: rgba(241, 241, 241, 0.576);
    backdrop-filter: blur(4.8px);
    border-radius: 16px 0 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-xmark {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.8rem;
}

aside i {
    font-size: 1.2rem;
}

form {
    
    background-color: rgba(224, 224, 224, 0.577);
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 16px;
    box-shadow: -1px 1px 25px -20px rgba(55,55,55,0.75);
}



input {
    width: 100%;
    background: none;
    border: none;
}

input:focus {
    outline: none;
}

#sidebar-sections-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h3 {
    border-bottom: 2px solid rgb(55, 55, 55);
    margin-bottom: 25px;
    font-size: 1.5rem;
}

#seven-day-forecast-wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.day-forecast-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.day-forecast-wrapper > div {
    display: flex;
    gap: 40px;
    align-items: center;
}

.day-forecast-wrapper > div > div {
    display: flex;
    gap: 10px;
    align-items: center;
}




.day-forecast-wrapper img {
    height: 19px;
}

#hourly-cards-wrapper {
    display: flex;
    gap: 20px;
    height: 155px;
    overflow-x: auto;
}

#current-condition-cards-wrapper {
    height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

#hourly-cards-wrapper div {
    background-color: rgba(224, 224, 224, 0.577);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 30px;
    border: 1px solid rgba(171, 171, 171, 0.322);
    border-radius: 16px;
    box-shadow: -1px 1px 25px -20px rgba(55,55,55,0.75);
    font-weight: 500;
}



#current-condition-cards-wrapper div {
    background-color: rgba(224, 224, 224, 0.577);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px 30px;
    border: 1px solid rgba(171, 171, 171, 0.322);
    border-radius: 16px;
    box-shadow: -1px 1px 25px -20px rgba(55,55,55,0.75);
    font-weight: 500;
} 



#hourly-cards-wrapper img {
    width: 55px;
}

#current-condition-cards-wrapper img {
    width: 25px;
}


/******************************************
/* UTILITY STYLES
/*******************************************/
 
.input-error {
    border: solid 1px red;
}

aside.active {

}